
# UI
streamlit

# LangChain and LLM handling
langchain
langchain-groq
langchain-core

# Audio processing
pydub
SpeechRecognition
PyAudio

# FastAPI for backend
fastapi
uvicorn
pydantic

# Utils
python-dotenv

# Audio codec support
ffmpeg-python